<!doctype html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:title" content="검색의 시작, 찾다">
    <meta property="og:description" content="위치, 사용자, 게시글 기반 대용량 데이터 검색 서비스 ChadDa입니다.">
    <meta property="og:image" content="images/og_chadda.png">
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="images/favicon.ico" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script th:src="@{/js/main.js}" ></script>
    <title>검색의 시작, 찾다</title>
</head>
<body>
<div class="header" style="position:relative;">

    <div id="header-title-select-shop">
        <img id="header-title-image" src = "images/chadda_logo.png" alt="">
        ChadDa
    </div>
    <form id="signin_form" method="get" action="/user/loginView" >

        <a id="login-text" href="javascript:{}" onclick="document.getElementById('signin_form').submit(); "> 로그인</a>
    </form>
    <form id="signout_form" method="post" action="/user/logout" >
        <a id="logout-text" href="javascript:{}" onclick="document.getElementById('signout_form').submit(); "> <span id="username">user</span>님 로그아웃</a>
    </form>
</div>
<div class="nav">
</div>

<div id="see-area">
    <div id="user-posts">

    </div>
</div>

<div id="search-area">
    <div>
        <input type="text" id="query">
    </div>
    <div class="search-title"  onclick="move()"> Posts </div>
    <div id="search-result-box-post">
        <div class="search-itemDto">
        </div>
    </div>
    <div class="search-title"> Profiles </div>
    <div id="search-result-box-profile">
        <div class="search-itemDto">
        </div>
    </div>
    <div class="search-title"> Locations </div>
    <div id="search-result-box-location">
        <div class="search-itemDto">
        </div>
    </div>
    <div id="container" class="popup-container">
        <div class="popup">
            <button id="close" class="close">
                X
            </button>
            <div id="profile-detail">
            </div>

        </div>
    </div>
</div>
</body>
</html>