<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script th:src="@{/js/main.js}" ></script>
    <title>인스타그램 검색 서비스</title>
</head>
<body>
<div class="header">
    Instagram Searching
</div>
<div class="nav">
    <div class="nav-search active">
        검색하기
    </div>
    <div class="nav-see">
        (미정)
    </div>
</div>

<div id="see-area">
</div>

<div id="search-area">
    <div>
        <input type="text" id="query">
    </div>
    <div class="search-title"  th:onclick = "|location.href = '@{/postpage}'|"> Posts </div>
    <div id="search-result-box-post">
        <div class="search-itemDto">
            <div class="search-itemDto-center">
                <div class="name">
                    hyemin1141
                </div>
                <div>
                    <span class="unit">좋아요</span>
                    <span class="unit like">11</span>
                    <span class="unit">개 /</span>
                    <span class="unit">댓글 </span>
                    <span class="unit comment">0</span>
                    <span class="unit">개</span>
                </div>
                <div>5 day count down till we see some coos!  @thompsbw #greatglenway</div>
            </div>
        </div>
    </div>
    <div class="search-title"> Profiles </div>
    <div id="search-result-box-profile">
        <div class="search-itemDto">
            <div class="search-itemDto-center">
                <div class="name">
                    hyemin1141
                    <span class="unit business">✔</span>
                </div>
                <div>
                    <span class="unit">게시물</span>
                    <span class="unit like">23</span>
                    <span class="unit">/ 팔로잉</span>
                    <span class="unit like">11</span>
                    <span class="unit">명 /</span>
                    <span class="unit">팔로워 </span>
                    <span class="unit comment">0</span>
                    <span class="unit">명</span>
                </div>
                <div>hello </div>
                <div>https://github.com</div>
            </div>
        </div>
    </div>
    <div class="search-title"> Locations </div>
    <div id="search-result-box-location">
        <div class="search-itemDto">
            <div class="search-itemDto-center">
                <div class="name">
                    Hankyu Department Store
                </div>
                <div>
                    <span class="unit region"> </span>
                    <span class="unit city">Osaka </span>
                    <span class="unit street">北区角田町8-7</span>
                </div>
            </div>
        </div>
    </div>
    <div id="container" class="popup-container">
        <div class="popup">
            <button id="close" class="close">
                X
            </button>
            <div id="profile-detail">

            </div>
        </div>
    </div>
</div>
</body>
</html>