<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!--    <script th:src="@{/js/main.js}" ></script>-->
    <script th:src="@{/js/user-posts.js}" ></script>
    <title>인스타그램 검색 서비스</title>
</head>
<body>
    <div class="header">
        Instagram Searching
    </div>

    <div id="search-area">
        <div class="search-title"> Posts </div>
            <div id="search-result-box-post">
                <div class="search-itemDto">
                    <div class="search-itemDto-center">
                        <div class="name">
                            hyemin1141
                        </div>
                        <div>
                            <span class="unit">좋아요</span>
                            <span class="unit like">11</span>
                            <span class="unit">개 /</span>
                            <span class="unit">댓글 </span>
                            <span class="unit comment">0</span>
                            <span class="unit">개</span>
                        </div>
                        <div>5 day count down till we see some coos!  @thompsbw #greatglenway</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>